<%- include("partials/header") %>

<form action="data" method="post">
    <label for="column1">Column1 : </label><input name="column1" type="text" id="column1"><br>
    <label for="column2">Column2 : </label><input name="column2" type="text" id="column2"><br>
    <input type="submit">
</form>

<%- include("partials/footer") %>